<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>About</title>
</head>
<body>
    <br>
    <div class="container text-center">
        <p class="font-monospace">This is a password generator that can generate pseudo-random sequences using numbers, uppercase letters and special characters.</p>
        <a class="btn btn-primary center" href="{% url 'home' %}">Back</a>
    </div>
</body>
</html>